*.iml
.gradle
**/build/
!src/**/build/
local.properties
.idea/
.DS_Store
captures/
.externalNativeBuild
.cxx
*.hprof
.kotlin/

# Firebase
google-services.json
firebase-debug.log
firestore-debug.log
ui-debug.log
